*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* Body styling */
body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

/* Header styling */

header{
    background-color: #232323;
    padding: 1rem 5rem 1rem 3rem; 
}
.humberger{
    display: none;
}

.links>ul{
    display: flex;
    align-items: center;
    margin: 0;
    justify-content: space-around;
}
.links>ul>li{
    margin: 0 .8rem;
    list-style: none;

}
.links>ul>li>a{
    text-decoration: none;
    color: #fff;
    font-size: 1.3rem;
}
.call>img{
    width: 3.5rem;
}


/* Main Styling */
main{
    display: flex;
}
.Form-Section{
    border: 1px solid #232323;
    border-radius: 10px 0 0 10px;
    text-align: center;
}

.Insc-button>button{
    background-color: #232323;
    color: #fff;
}

.illustration-Section{
    border: 1px solid #232323;
    border-radius: 0 10px 10px 0;
}

.illustration-Section>.illustration>img{
    width: 100%;
}

.facebook-insc{
    margin-bottom: 1rem;
}
.facebook-insc>button{
    width: 70%;
    background-color: #3B5998;
    color: #fff;
}
.google-insc{
    margin-bottom: 1rem;
}
.google-insc>button{
    width: 70%;
    background-color: #4285F4;
    color: #fff;
}


/* footer Styling */
footer{
    background-color: #232323;
    padding: 1rem 0 1rem ;
}
.copyright>p{
    color: #fff;
}
.copyright>p>a{
    color: #fff;
    text-decoration: none;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-links>ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* margin-left: 5rem; */
}
.footer-links>ul>li{
    margin: 0 .8rem;
    list-style: none;

}
.footer-links>ul>li>a{
    text-decoration: none;
    color: #fff;
    font-size: 1.3rem;
}
.footerLogo>img{
    width: 60%;
}


/* Media Query part (Responsive) */

/* Tablet */
@media only screen and (max-width: 1000px) {
    /* header */

    header{
        justify-content: space-between;
    }
    header>.row>.logo{
        padding-top: .5rem;
        text-align: center;
    }
    header>.row>.logo>img{
        width: 80%;
    }
    nav{
        display: none;
    }
    .call{
        display: none;
    }
    .humberger{
        display: block;
        margin: 1rem;
    }

    /* main */
    main{
        margin: 3rem 0 3rem;
    }
    .Form-Section{
        border-radius: 10px;
        width: 70vw;
        background-image: url("../images/illudtration-opacity.svg");
    }
    .illustration-Section{
        display: none;
    }

    /* footer */
    .footer-links>ul{
        display: none;
    }
}

/* phone */
@media only screen and (max-width: 375px){

}